.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 24px;
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .wrapper {
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 56px 36px;
    max-width: 600px;
    width: 100%;
    .code {
      font-size: 100px;
      font-weight: 700;
      color: var(--primary);
    }
    p {
      margin-bottom: 24px;
      margin-bottom: 24px;
    }
    a {
      border-radius: 999px;
      color: #fff;
      background-color: var(--primary);
      padding: 10px 32px;
    }
  }
}
