.select {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  padding-left: 18px;
  outline: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23ffffff" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 18px) center;
  padding-right: 32px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s all ease;
  &:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
  }
}
